<div *ngFor="let item of machines">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.status }}</p>
    </div>
  </div>
</div>
